html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fafafa;
}

body {
  margin: 0;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 .5rem;
}

main img {
  display: block;
  margin: 0 auto 2rem;
  max-width: 90%;
}

/* Headers */
h1 {
  font-size: 3rem;
  margin: 2rem 0 .5rem;
}

h2 {
  font-size: 2rem; 
  margin-top: 1.5rem; 
  margin-bottom: 1.2rem;
  font-weight: normal;
}

h3 { display: inline; }

h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 .25rem 0;
  display: inline-block;
}


/* HTML5 */

area {
  cursor: initial;
  display: block;
}

header {
  /*background-color: #7bbeff;*/
  background-color: #eeeeee;
  color: #323232;
  /*text-shadow: 1px 1px 2px #2f679c;*/
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #dddddd;
}

header a {
  color: #323232;
  text-decoration: none;
}

a {
  color: #333;
  text-decoration: underline #999;
  transition: all 80ms;
}

a:hover {
  text-decoration: none;
  border-bottom: 3px solid #ac39a6;
}

footer a {
  text-decoration: none;
}

footer {
  margin: 4rem auto 0;
  text-align: center;
}

footer a:hover {
  border: none;
}

section { margin-top: 2.5rem; }

/* MENU */

#menu {
  line-height: 200%;
}

#menu a {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.active {
  border-bottom: 3px solid #ac39a6;
}

ul {
  list-style-position: inside;
  margin-top: -0.8rem;
  margin-left: 1rem;
  padding: 0;
}

.logo {
  height: 10rem;
}


blockquote {
  margin-left: 32px;
  font-style: italic;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}