<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}NaoMod &mdash; {{ page.title }}{% else %}NaoMod{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; frame-src fedifeed.com">
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <!-- NaoMod -->
          <img src="img/Team logo (simple-element).png" width="200px" alt="NaoMod">
        </a>
      </h1>
      <h2 style="font-size: 2rem;">Generative Software and System Engineering</h2>
      <nav id="menu">
        {% for link in site.data.navigation %}
          {% assign active = nil %}
          {% if page.url == link.url %}
            {% assign active = "active" %}
          {% endif %}
        <a class="{{ active }}" href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer style="max-width: 40rem;">      
          <p style="margin-top:1cm;">
            </p><p style="color:#ac39a6; font-weight: bolder;">Contact</p>
              [email] <a href="mailto:naomod-per@univ-nantes.fr">naomod-per@univ-nantes.fr</a>
              <br>
              [matrix] <a href="https://matrix.to/#/#naomodpublic:tedomum.net"> #naomodpublic:tedomum.net</a>
          <p></p>
        <div></div><div></div></footer>
  </body>
</html>
